.main-1 {
	border-style: solid;
	border-color: gray;
	border-width: 1px;

}
.text-left {
	color: #ff7f50;
	font-family: 'Maven Pro', sans-serif;
}
h1 {
	font-family: 'Open Sans', sans-serif;
	color: #696969;
}

p {
	font-family: 'Nobile', sans-serif;
	color: #696969
}